<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        .el-textarea__inner,.el-input__inner {
            background: transparent !important;
        }



    </style>
</head>
<body>
<div id="app">
    <el-container>
        <my-header></my-header>
    </el-container>
    <el-main style="background-image: url('imgs/login.gif') ;height: 500px;background-size: cover;background-position: center">
        <el-card style="width: 500px;height: 300px;margin: 50px auto;bound-position: center">
            <el-form label-width="80px" style="width: 400px;margin: 50px auto ;">
                <el-form-item label="用户名">
                    <el-input placeholder="shuur" v-model="admin.adminname" style="border: black ;border-width: 20px"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input style lang="scss" type="password" @keydown-native-enter="adminlogin()" placeholder="shuur" v-model="admin.password">
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" style="margin-left: auto" @click="adminlogin()">管理员登录</el-button>
                </el-form-item>

            </el-form>


        </el-card>



    </el-main>
    <el-footer style="height: 200px;color: #2f3234" padding="50px 0">
        <my-footer></my-footer>
    </el-footer>
</div>
<script src="js/vue.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/my-header.js"></script>
<script src="js/my-footer.js"></script>
<script>

    let v =new Vue({
        el:"#app",
        data:function (){
            return{
                admin:{
                    adminname:"",
                    password: ""
                }
            }
        },
        methods:{
            adminlogin() {
                axios.post("/adminlogin",v.admin).then(function (response) {
                    if (response.data==1){
                        location.href="/admin.html"  //登录成功跳转admin.html
                    }
                    else if (response.data==2){
                        v.$message.error("管理员用户名不存在")
                    }
                    else {
                        v.$message.error("管理员密码错误")
                    }
                })
            },

        }
    })
</script>
</body>
</html>